{% extends "v-spk-assessments/layouts/main.html" %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% set pageName = "Search and filter products and services" %}
{% set pageDescription = "Explore all DfE products and services. Filter by phase, business area, and operational status." %}
{% set mainClasses="govuk-!-padding-top-0"%}
{% set nav = 'products' %}
{% set showNav = true %}

{% block main %}

    <div class="dfe-masthead">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl dfe-masthead--title govuk-!-margin-bottom-0">
                        {{ pageName }}
                    </h1>
               
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main"{% if mainClasses %} class="{{ mainClasses }}"{% endif %}>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    
                    <!-- MOJ Filter Component -->
                    <form method="get" action="/v-spk-assessments/products">
                        {% set filterOptionsHtml %}
                            {{ govukInput({
                                id: "keywords",
                                name: "keywords",
                                value: filters.keywords,
                                label: {
                                    text: "Product name",
                                    classes: "govuk-label--s"
                                }
                            }) }}

                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="user-autocomplete">
                                    User type
                                </label>
                                <div id="user-autocomplete-container"></div>
                                
                                <!-- Selected users will appear here as checkboxes -->
                                <div id="selected-users-container" style="margin-top: 15px; display: none;">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                            Selected user types
                                        </legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" id="selected-users-list">
                                            <!-- Selected users will be dynamically added here -->
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                            {% if filterOptions.phases.length > 0 %}
                                {% set phaseItems = [] %}
                                {% for phase in filterOptions.phases %}
                                    {% set phaseItems = (phaseItems.push({
                                        value: phase.value,
                                        text: phase.text + " (" + phase.count + ")",
                                        checked: phase.value in filters.phase
                                    }), phaseItems) %}
                                {% endfor %}
                                
                                {{ govukCheckboxes({
                                    idPrefix: "phase",
                                    name: "phase",
                                    classes: "govuk-checkboxes--small",
                                    fieldset: {
                                        legend: {
                                            text: "Phase",
                                            classes: "govuk-fieldset__legend--s"
                                        }
                                    },
                                    items: phaseItems
                                }) }}
                            {% endif %}

                            {% if filterOptions.groups.length > 0 %}
                                {% set groupItems = [] %}
                                {% for group in filterOptions.groups %}
                                    {% set groupItems = (groupItems.push({
                                        value: group.value,
                                        text: group.text + " (" + group.count + ")",
                                        checked: group.value in filters.group
                                    }), groupItems) %}
                                {% endfor %}
                                
                                {{ govukCheckboxes({
                                    idPrefix: "group",
                                    name: "group",
                                    classes: "govuk-checkboxes--small",
                                    fieldset: {
                                        legend: {
                                            text: "Group",
                                            classes: "govuk-fieldset__legend--s"
                                        }
                                    },
                                    items: groupItems
                                }) }}
                            {% endif %}

                            <!-- Show subgroups only when groups are selected -->
                            {% if filters.group and filters.group.length > 0 and filterOptions.subgroups.length > 0 %}
                                {% set availableSubgroups = [] %}
                                {% for subgroup in filterOptions.subgroups %}
                                    {% if subgroup.parent in filters.group %}
                                        {% set availableSubgroups = (availableSubgroups.push({
                                            value: subgroup.value,
                                            text: subgroup.text + " (" + subgroup.count + ")",
                                            checked: subgroup.value in filters.subgroup
                                        }), availableSubgroups) %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% if availableSubgroups.length > 0 %}
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                Sub-groups
                                            </legend>
                                            <div class="govuk-checkboxes govuk-checkboxes--small" style="max-height: 210px; overflow-y: auto; padding-left: 10px; padding-right: 10px; margin-left: -10px;">
                                                {% for subgroup in availableSubgroups %}
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="subgroup-{{ loop.index }}" name="subgroup" type="checkbox" value="{{ subgroup.value }}"{% if subgroup.checked %} checked{% endif %}>
                                                        <label class="govuk-label govuk-checkboxes__label" for="subgroup-{{ loop.index }}">
                                                            {{ subgroup.text }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </fieldset>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if filterOptions.parents.length > 0 %}
                                {% set parentItems = [] %}
                                {% for parent in filterOptions.parents %}
                                    {% set parentItems = (parentItems.push({
                                        value: parent.value,
                                        text: parent.text + " (" + parent.count + ")",
                                        checked: parent.value in filters.parent
                                    }), parentItems) %}
                                {% endfor %}
                                
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Categories
                                        </legend>
                                        <div class="govuk-checkboxes govuk-checkboxes--small" style="max-height: 210px; overflow-y: auto; padding-left: 10px; padding-right: 10px; margin-left: -10px;">
                                            {% for parent in parentItems %}
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="parent-{{ loop.index }}" name="parent" type="checkbox" value="{{ parent.value }}"{% if parent.checked %} checked{% endif %}>
                                                    <label class="govuk-label govuk-checkboxes__label" for="parent-{{ loop.index }}">
                                                        {{ parent.text }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </fieldset>
                                </div>
                            {% endif %}

                            <!-- Show subgroups only when categories are selected -->
                            {% if filters.parent and filters.parent.length > 0 and filterOptions.subgroups.length > 0 %}
                                {% set availableSubgroups = [] %}
                                {% for subgroup in filterOptions.subgroups %}
                                    {% if subgroup.parent in filters.parent %}
                                        {% set availableSubgroups = (availableSubgroups.push({
                                            value: subgroup.value,
                                            text: subgroup.text + " (" + subgroup.count + ")",
                                            checked: subgroup.value in filters.subgroup
                                        }), availableSubgroups) %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% if availableSubgroups.length > 0 %}
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                Sub-categories
                                            </legend>
                                            <div class="govuk-checkboxes govuk-checkboxes--small" style="max-height: 210px; overflow-y: auto; padding-left: 10px; padding-right: 10px; margin-left: -10px;">
                                                {% for subgroup in availableSubgroups %}
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="subgroup-{{ loop.index }}" name="subgroup" type="checkbox" value="{{ subgroup.value }}"{% if subgroup.checked %} checked{% endif %}>
                                                        <label class="govuk-label govuk-checkboxes__label" for="subgroup-{{ loop.index }}">
                                                            {{ subgroup.text }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </fieldset>
                                    </div>
                                {% endif %}
                            {% endif %}


                        {% endset %}

                        {{ mojFilter({
                            heading: {
                                text: "Filter"
                            },
                            selectedFilters: {
                                heading: {
                                    text: "Selected filters"
                                },
                                clearLink: {
                                    text: "Clear filters",
                                    href: clearFiltersUrl
                                },
                                categories: selectedFilters
                            } if selectedFilters.length > 0,
                            optionsHtml: filterOptionsHtml
                        }) }}
                    </form>

                </div>

                <div class="govuk-grid-column-two-thirds">
                    
                    <!-- Results Summary -->
                    <div class="govuk-!-margin-bottom-4">
                        <p class="govuk-body">
                            Showing {{ pagination.totalResults }} products and services
                            {% if pagination.totalPages > 1 %}
                                (page {{ pagination.currentPage }} of {{ pagination.totalPages }})
                            {% endif %}
                        </p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </div>

                    <!-- Products Grid -->
                    {% if products.length > 0 %}
                        <ul class="dfe-chevron-card__list">
                            {% for product in products %}
                                <li class="dfe-chevron-card">
                                    <div class="dfe-chevron-card__wrapper">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                                            <a class="govuk-link govuk-link--no-visited-state" href="/v-spk-assessments/product/{{ product.id }}">
                                                {{ product.Name }}
                                            </a>
                                        </h3>
                                        <p class="dfe-chevron-card__description govuk-body govuk-body-s">
                                            {{ product.Description | truncate(140) if product.Description  else 'No description available' }}
                                        </p>
                                        
                                        <!-- Meta information -->
                                        <div class="govuk-!-margin-top-2">
                                            {% if product.phase %}
                                                <span class="govuk-tag govuk-tag--blue govuk-!-font-size-16">{{ product.phase }}</span>
                                            {% endif %}
                                            {% if product['business-area'] %}
                                                <span class="govuk-tag govuk-tag--green govuk-!-font-size-16">{{ product['business-area'] }}</span>
                                            {% endif %}
                                           
                                        </div>
                                        
                                        <a class="dfe-chevron-card__link" href="/v-spk-assessments/product/{{ product.id }}" aria-hidden="true" tabindex="-1">
                                            <span class="govuk-visually-hidden">{{ product.Name }}</span>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                       
                            <p class="govuk-body">No products found matching your criteria.</p>
                            <p class="govuk-body">
                                <a href="/v-spk-assessments/products" class="govuk-link">Clear all filters</a> to see all products.
                            </p>
                      
                    {% endif %}

                    <!-- Pagination -->
                    {% if pagination.totalPages > 1 %}
                        {% set paginationItems = [] %}
                        
                        {% for pageNum in range(1, pagination.totalPages + 1) %}
                            {% if pageNum == pagination.currentPage %}
                                {% set paginationItems = (paginationItems.push({
                                    number: pageNum,
                                    current: true
                                }), paginationItems) %}
                            {% elif pageNum == 1 or pageNum == pagination.totalPages or (pageNum >= pagination.currentPage - 2 and pageNum <= pagination.currentPage + 2) %}
                                {% set paginationItems = (paginationItems.push({
                                    number: pageNum,
                                    href: "/v-spk-assessments/products?" + (baseQuery + ("&" if baseQuery else "") + "page=" + pageNum)
                                }), paginationItems) %}
                            {% elif (pageNum == pagination.currentPage - 3 or pageNum == pagination.currentPage + 3) and pagination.totalPages > 7 %}
                                {% set paginationItems = (paginationItems.push({
                                    ellipsis: true
                                }), paginationItems) %}
                            {% endif %}
                        {% endfor %}

                        {{ govukPagination({
                            previous: {
                                    href: "/v-spk-assessments/products?" + (baseQuery + ("&" if baseQuery else "") + "page=" + (pagination.currentPage - 1))
                            } if pagination.hasPrevPage,
                            next: {
                                href: "/v-spk-assessments/products?" + (baseQuery + ("&" if baseQuery else "") + "page=" + (pagination.currentPage + 1))
                            } if pagination.hasNextPage,
                            items: paginationItems
                        }) }}
                    {% endif %}

                </div>
            </div>

        </main>
    </div>

{% endblock %}

{% block pageScripts %}
    <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // User groups data passed from controller
            const userGroupsData = {{ userGroupsData | dump | safe }} || [];
            
            console.log('User groups data loaded:', userGroupsData.length, 'items');
            
            // Array to store selected users
            let selectedUsers = [];
            
            // Parse existing selections from URL parameters
            const urlParams = new URLSearchParams(window.location.search);
            const existingUsers = urlParams.getAll('user');
            if (existingUsers.length > 0) {
                existingUsers.forEach(userId => {
                    const user = userGroupsData.find(u => u.id === userId);
                    if (user) {
                        selectedUsers.push(user);
                    }
                });
                updateSelectedUsersDisplay();
            }
            
            // Custom suggestion template that shows level and parent info
            function suggestionTemplate(suggestion) {
                if (typeof suggestion === 'string') {
                    return suggestion;
                }
                
                // Special handling for "Add all options" item
                if (suggestion.isAddAll) {
                    return '<div class="autocomplete-suggestion autocomplete-suggestion--add-all">+ Add all options (' + suggestion.count + ')</div>';
                }
                
                let html = '<div class="autocomplete-suggestion">';
                html += '<div class="autocomplete-suggestion__label">' + suggestion.label + '</div>';
                
                // Add metadata based on level
                if (suggestion.level === 2) {
                    html += '<div class="autocomplete-suggestion__meta">' + suggestion.parentLabel + '</div>';
                } else if (suggestion.level === 3) {
                    html += '<div class="autocomplete-suggestion__meta">' + suggestion.grandparentLabel + ' → ' + suggestion.parentLabel + '</div>';
                }
                
                html += '</div>';
                return html;
            }
            
            // Function to update the displayed selected users
            function updateSelectedUsersDisplay() {
                const container = document.getElementById('selected-users-container');
                const list = document.getElementById('selected-users-list');
                
                if (selectedUsers.length === 0) {
                    container.style.display = 'none';
                    return;
                }
                
                container.style.display = 'block';
                list.innerHTML = '';
                
                selectedUsers.forEach((user, index) => {
                    const checkboxItem = document.createElement('div');
                    checkboxItem.className = 'govuk-checkboxes__item';
                    
                    const checkbox = document.createElement('input');
                    checkbox.className = 'govuk-checkboxes__input';
                    checkbox.type = 'checkbox';
                    checkbox.name = 'user';
                    checkbox.value = user.id;
                    checkbox.id = 'user-' + index;
                    checkbox.checked = true;
                    
                    const label = document.createElement('label');
                    label.className = 'govuk-label govuk-checkboxes__label';
                    label.setAttribute('for', 'user-' + index);
                    label.textContent = user.label;
                    
                    checkboxItem.appendChild(checkbox);
                    checkboxItem.appendChild(label);
                    list.appendChild(checkboxItem);
                });
            }
            
            // Function to add a user to the selected list
            function addUser(user) {
                // Check if user is already selected
                const alreadySelected = selectedUsers.some(u => u.id === user.id);
                if (!alreadySelected) {
                    selectedUsers.push(user);
                    updateSelectedUsersDisplay();
                }
            }
            


            // Custom search function that filters by labels and aliases
            function source(query, populateResults) {
                if (!query || query.length < 2) {
                    populateResults([]);
                    return;
                }
                
                const searchTerm = query.toLowerCase();
                const filteredResults = userGroupsData.filter(function(item) {
                    // Search in the combined search text (label + aliases)
                    // Exclude already selected users
                    const alreadySelected = selectedUsers.some(u => u.id === item.id);
                    if (alreadySelected) return false;
                    
                    // Debug: log the search for "teacher"
                    if (searchTerm === 'teacher' && item.label.toLowerCase().includes('send')) {
                        console.log('SEND item:', item.label, 'searchText:', item.searchText, 'includes teacher:', item.searchText.includes(searchTerm));
                    }
                    
                    return item.searchText.includes(searchTerm);
                }).sort(function(a, b) {
                    // Sort alphabetically by label
                    return a.label.localeCompare(b.label);
                });
                
                const results = filteredResults.slice(0, 15); // Limit to 15 individual results to include more options
                
                // Add "Add all options" item at the top if there are results
                if (results.length > 1) {
                    results.unshift({
                        isAddAll: true,
                        count: Math.min(filteredResults.length, 15),
                        allItems: results,
                        label: 'Add all visible options',
                        id: 'add-all-' + Date.now()
                    });
                }
                
                populateResults(results);
            }
            
            // No initial value needed for multi-select
            let initialValue = '';
            
            // Check if accessible autocomplete is available
            if (typeof accessibleAutocomplete === 'undefined') {
                console.error('Accessible autocomplete library not loaded');
                // Create fallback input
                const container = document.getElementById('user-autocomplete-container');
                container.innerHTML = '<input class="govuk-input" type="text" id="user-fallback" name="user" placeholder="Start typing to search user types..." value="' + (document.getElementById('user-hidden').value || '') + '">';
                return;
            }
            
            try {
                // Initialize accessible autocomplete
                accessibleAutocomplete({
                    element: document.querySelector('#user-autocomplete-container'),
                    id: 'user-autocomplete',
                    name: 'user-display', // Different name to avoid conflict
                    defaultValue: initialValue,
                    source: source,
                    minLength: 2,
                    templates: {
                        inputValue: function(suggestion) {
                            return suggestion && suggestion.label ? suggestion.label : suggestion;
                        },
                        suggestion: suggestionTemplate
                    },
                    onConfirm: function(confirmed) {
                        if (confirmed && confirmed.isAddAll) {
                            // Add all visible options
                            confirmed.allItems.forEach(function(item) {
                                if (!item.isAddAll) {
                                    addUser(item);
                                }
                            });
                            // Clear input and keep dropdown open
                            setTimeout(function() {
                                const input = document.querySelector('#user-autocomplete');
                                if (input) {
                                    input.value = '';
                                    input.focus();
                                    // Trigger a new search with empty value to close dropdown
                                    const event = new Event('input', { bubbles: true });
                                    input.dispatchEvent(event);
                                }
                            }, 100);
                        } else if (confirmed && confirmed.id) {
                            addUser(confirmed);
                            // Clear input and keep dropdown open
                            setTimeout(function() {
                                const input = document.querySelector('#user-autocomplete');
                                if (input) {
                                    input.value = '';
                                    input.focus();
                                    // Trigger a new search with empty value to close dropdown
                                    const event = new Event('input', { bubbles: true });
                                    input.dispatchEvent(event);
                                }
                            }, 100);
                        } else if (typeof confirmed === 'string') {
                            // Handle case where user types something that doesn't match
                            const match = userGroupsData.find(function(user) {
                                return user.label.toLowerCase() === confirmed.toLowerCase();
                            });
                            if (match) {
                                addUser(match);
                                // Clear input and keep dropdown open
                                setTimeout(function() {
                                    const input = document.querySelector('#user-autocomplete');
                                    if (input) {
                                        input.value = '';
                                        input.focus();
                                        const event = new Event('input', { bubbles: true });
                                        input.dispatchEvent(event);
                                    }
                                }, 100);
                            }
                        }
                    },
                    showNoOptionsFound: true,
                    showAllValues: false,
                    displayMenu: 'overlay',
                    placeholder: 'Start typing to search user types...'
                });
            } catch (error) {
                console.error('Error initializing autocomplete:', error);
                // Create fallback input on error
                const container = document.getElementById('user-autocomplete-container');
                container.innerHTML = '<input class="govuk-input" type="text" id="user-fallback" name="user" placeholder="Start typing to search user types..." value="' + (document.getElementById('user-hidden').value || '') + '">';
            }
        });
    </script>
    
    <style>
        .autocomplete-suggestion {
            padding: 8px 12px;
            background-color: transparent;
        }
        
        .autocomplete__option:hover,
        .autocomplete__option:focus,
        .autocomplete__option--focused {
            background-color: #ffdd00 !important;
            color: #0b0c0c !important;
        }
        
        .autocomplete-suggestion--add-all {
            background-color: transparent;
            border-bottom: 1px solid #b1b4b6;
            color: #0b0c0c;
            font-weight: normal;
        }
        
        .autocomplete-suggestion__label {
            font-weight: normal;
            font-size: 16px;
            color: #0b0c0c;
        }
        
        .autocomplete-suggestion__meta {
            font-size: 14px;
            color: #505a5f;
            margin-top: 2px;
        }
        
        .autocomplete__menu {
            border: 2px solid #0b0c0c;
            border-top: 0;
            display: none; /* Hidden by default */
        }
        
        .autocomplete__menu--visible {
            display: block; /* Show when has results */
        }
        
        .autocomplete__option:hover,
        .autocomplete__option--focused {
            background-color: #ffdd00;
        }
        
        .autocomplete__option--odd {
            background-color: #f3f2f1;
        }
    </style>
{% endblock %}
