{% extends "layouts/main.html" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName = "Prototype version manager" %}
{% set pageDescription = "Switch between prototype versions and try new features, spikes, and concepts." %}
{% set showNav = false %}

{% block main %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-top-9" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{ pageName }}</h1>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                           The stable version is <a href="/v1/" class="govuk-link">Version 1</a>
                        </p>
                    </div>

                    <h2 class="govuk-heading-m">Versions</h2>

                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Version
                        </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/v1/" class="govuk-link">/v1</a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Sprint
                        </dt>
                            <dd class="govuk-summary-list__value">
                            0
                        </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Date started
                        </dt>
                            <dd class="govuk-summary-list__value">
                            26 August 2025
                        </dd>
                        </div>
                    </dl>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                        Summary of features
                      </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                            This is the MVP which iterated the UR from round 2. It contains data from the CMDB.
                        </p>
                            <ul class="govuk-list">
                                <li>
                                    <strong>Product search</strong> - filter products by name, phase, business area
                            </li>
                                <li>
                                    <strong>Product details</strong> - view details of a product, including contacts, categories, and business area.
                            </li>
                            </ul>
                        </div>
                    </details>

                    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Spike - Assessments</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Version
                        </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="/v-spk-assessments/" class="govuk-link">/v-spk-assessments</a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Sprint
                        </dt>
                            <dd class="govuk-summary-list__value">
                            0
                        </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Date started
                        </dt>
                            <dd class="govuk-summary-list__value">
                            26 August 2025
                        </dd>
                        </div>
                    </dl>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                        Summary of features
                      </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                            This is testing if versioning to a spike works.
                        </p>
                            <ul class="govuk-list">
                                <li>
                                    <strong>Assessment data</strong> - show service assessment data against products.
                            </li>
                            </ul>
                        </div>
                    </details>

                </div>

            </div>

        </main>
    </div>

{% endblock %}